@import "/home/rohmad/.config/omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: 'Inter', monospace;
  font-size: 17px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.90);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.45);
}

.preview-box {
}

.box {
}

.search-container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 10px;
}

.input placeholder {
  opacity: 0.4;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
}

child:selected {
  background: alpha(@text, 0.18);
  border-radius: 10px;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
